/*
* The stylesheet for the breaking news custom post type JM Breaking News Widget.
*
* Author: Jacob Martella
* Package: JM Breaking News
* Version: 1.8
*/
#jm-breaking-news-meta label {
	margin-right: 5px;
}

#jm_breaking_news_external {
	margin-right: 10px;
}

#jm_breaking_news_link {
	width: 100%;
}

#jm_breaking_news_internal_link {
	width: 100%;
}

.wp-color-result {
	margin-bottom: -3px;
}

.jm-breaking-news-fields {
	width: 100%;
}

.jm-breaking-news-fields td {
	padding: 5px 0;
}

.jm-breaking-news-fields td:first-child {
	width: 33%;
}